@media (max-width: 766px) {
  #mood-select-full {
    display: none;
  }
  #loading {
    display: none!important;
  }
}

@media (min-width: 767px) {
  #mood-select-mobile {
    display: none;
  }
  #loading-mobile {
    display: none!important;
  }
}